:root {
    --header-height: 3em;
    --footer-height: 15em;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
}

header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: var(--header-height);
    background: red;
    z-index: 7;
    display: flex;
    align-items: center;
}

footer {
    height: var(--footer-height);
    position: fixed;
    bottom: 0;
    right: 0;
    left: 0;
    z-index: -1;
}

header > div {
    flex-grow: 1;
}

header {
    flex-direction: row !important;
    transform: translateY(0);
    transition: all .2s ease-in-out !important;
}

header.header__scrolling-down {
    transform: translateY(-100%);
}

header button {
    padding: 0 !important;
    min-width: auto !important;
}

a {
    text-decoration: none;
    color: inherit;
}

.main-container {
    padding-top: calc(var(--header-height) + 2em);
    padding-bottom: calc(var(--header-height) + 2em);
    margin-bottom: var(--footer-height);
    background: white;
}

.slide-cart {
    position: fixed;
    top: 0;
    right: 0;
    height: 100vh;
    width: 60vw;
    background: white;
    z-index: 1300;
    transform: translateX(100%);
    transition: transform .3s ease-in-out;
    box-shadow: 0 0 89px -25px rgba(0,0,0,0.69);
}

@media screen and (max-width: 480px) {
    .slide-cart {
        width: 100vw;
    }
}

.slide-cart__open {
    transform: translateX(0%);
}

.slide-cart .slide-cart-close {
    position: absolute;
    top: 0;
    right: 0;
}

.overlay {
    background: white;
    position: fixed;
    inset: 0;
    opacity: .7;
    z-index: 1200;
}

.product-detail__gallery-img {
    width: 100%;
    object-fit: contain;
}

.cart__product-img {
    width: 100%;
    max-height: 150px;
    object-fit: cover;
}
